<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
<header class="header">
    <div class="logo">
        <img th:src="@{/images/rkei-logo.png}" alt="Logo" height="40">
        <span class="slogan">where dreams come true</span>
    </div>
    <nav class="nav">
        <a th:href="@{/listCourse}" class="nav-link">List Course</a>
        <a th:href="@{/enrollmentHistory}" class="nav-link">Enrollments</a>
        <a th:href="@{/profile}" class="nav-link">Profile</a>
    </nav>
    <div class="actions">
        <div class="icon">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="icon">
            <i class="fas fa-bell"></i>
        </div>
<!--            <img th:src="@{/images/user-avatar.png}" alt="User" class="avatar">-->
        <div class="profile">
            <span th:if="${session.loggedInUser != null}" th:text="${session.loggedInUser.name}" style="color: black; margin-right: 10px;"></span>
            <span th:if="${session.loggedInUser == null}" style="color: black; margin-right: 10px;">Khách</span>

            <!-- Nếu chưa đăng nhập, hiển thị "Login" -->
            <a th:if="${session.loggedInUser == null}" th:href="@{/login}" class="nav-link">Login</a>

            <!-- Nếu đã đăng nhập, hiển thị icon logout -->
            <form th:if="${session.loggedInUser != null}" th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" style="background: none; border: none; cursor: pointer;">
                    <i class="fas fa-sign-out-alt" style="color: black;"></i>
                </button>
            </form>
        </div>

    </div>
</header>

</div>